:root {
    --main-color: #00A36C;
    --white: rgb(255, 255, 255);
    --dark: rgb(33, 37, 41);
}

.text-white {
    color: var(--white);
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 1.8rem;
}

.nav-link {
    color: var(--white);
}

.myName {
    color: var(--main-color);
}
.hero {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar, .hero {
    z-index: 1;
}

#particles-js {
    background-color: #1e1f25;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.btn-light {
    background-color: var(--main-color);
    color: var(--white);
}
.btn-light:hover {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid --main-color;
}

.btn-dark {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.btn-dark:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.section-dark {
    background-color: var(--dark);
    color: var(--white);
}

.skills-img {
    max-width: 200px;
    max-height: 100%;
}

@media only screen and (max-width: 768px) {
    .project-col {
        padding: auto;
    }
  }

  /* for animations */
.fade-div {
    -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
